@charset "UTF-8";
@font-face {
  font-family: 'foodreform';
  src: url("../fonts/foodreform.eot?dts1z9");
  src: url("../fonts/foodreform.eot?dts1z9#iefix") format("embedded-opentype"), url("../fonts/foodreform.ttf?dts1z9") format("truetype"), url("../fonts/foodreform.woff?dts1z9") format("woff"), url("../fonts/foodreform.svg?dts1z9#foodreform") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open-sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open-sans';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'open-sans';
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'open-sans';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

pre {
  overflow: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-circle {
  border-radius: 50%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 18px/1 "open-sans", sans-serif;
  color: #323336;
  background-color: #fff;
  margin: 0; }

a {
  color: #323336;
  text-decoration: none; }

a:hover,
a:focus {
  color: #ff7a7a;
  text-decoration: none; }

a:focus {
  outline: none; }

img {
  border: none;
  max-width: 100%; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0;
  line-height: 1.6em; }

input, button, textarea, select {
  outline: none;
  font-family: "open-sans"; }

.btn-wrap {
  text-align: center; }

.btn {
  border: 3px solid #ff7a7a;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10em;
  text-transform: uppercase;
  padding: 0.95em 0 0.8em;
  display: inline-block;
  width: 230px;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  line-height: 1;
  margin: 15px; }
  .btn:hover {
    background: #ff7a7a;
    color: #fff; }
  .btn:active {
    background: #ff7a7a;
    border-color: #c15c5c;
    -webkit-transition: .15s;
    -moz-transition: .15s;
    -ms-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
    -webkit-box-shadow: inset 0 0 015px #c15c5c;
    -moz-box-shadow: inset 0 0 015px #c15c5c;
    box-shadow: inset 0 0 015px #c15c5c;
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99); }
  .btn.dark {
    border-color: #323336; }
    .btn.dark:hover {
      background: #323336;
      color: #fff; }
    .btn.dark:active {
      background: #323336;
      -webkit-transition: .15s;
      -moz-transition: .15s;
      -ms-transition: .15s;
      -o-transition: .15s;
      transition: .15s;
      -webkit-box-shadow: inset 0 0 015px #c15c5c;
      -moz-box-shadow: inset 0 0 015px #c15c5c;
      box-shadow: inset 0 0 015px #c15c5c;
      -webkit-transform: scale(0.99);
      -moz-transform: scale(0.99);
      -ms-transform: scale(0.99);
      -o-transform: scale(0.99);
      transform: scale(0.99); }

.vertical-align::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.vertical-align > * {
  display: inline-block;
  vertical-align: middle; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'foodreform' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-1:before {
  content: "\e900"; }

.icon-2:before {
  content: "\e901"; }

.icon-3:before {
  content: "\e902"; }

.icon-4:before {
  content: "\e903"; }

.icon-5:before {
  content: "\e904"; }

.icon-clock:before {
  content: "\e905"; }

.icon-envelope:before {
  content: "\e906"; }

.icon-facebook:before {
  content: "\e907"; }

.icon-foodreform:before {
  content: "\e908"; }

.icon-formula:before {
  content: "\e909"; }

.icon-info:before {
  content: "\e90a"; }

.icon-instagram:before {
  content: "\e90b"; }

.icon-logo-round:before {
  content: "\e90c"; }

.icon-map:before {
  content: "\e90d"; }

.icon-odnoklassniki:before {
  content: "\e90e"; }

.icon-phone:before {
  content: "\e90f"; }

.icon-pot:before {
  content: "\e910"; }

.icon-profits:before {
  content: "\e911"; }

.icon-star:before {
  content: "\e912"; }

.icon-vk:before {
  content: "\e913"; }

.icon-wave {
  font-size: 19px;
  font-weight: 900;
  margin-top: 10px; }

.icon-wave:before {
  content: "\e914"; }

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 11px;
  margin: 1.6666em 0 1em; }
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      letter-spacing: 8px; } }
  @media (max-width: 400px) {
    .title {
      font-size: 35px;
      letter-spacing: 6px; } }
  .title span {
    font-weight: 600; }

input, textarea {
  display: inline-block;
  width: 100%;
  border-radius: 10em;
  border: 2px solid #fcdad6;
  font-size: 16px;
  line-height: 1;
  color: #323336;
  padding: 0.95em 1em 0.8em;
  font-family: "open-sans";
  font-weight: 600;
  margin: 15px;
  height: 50px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  input:focus, textarea:focus {
    border-color: #ff7a7a; }

textarea {
  line-height: 1.3;
  height: 10em;
  resize: none; }

header {
  height: 100px;
  padding-top: 26px; }
  @media (max-width: 1199px) {
    header {
      padding-top: 20px;
      height: 88px; } }
  @media (max-width: 768px) {
    header {
      padding-top: 5px;
      height: 50px; } }
  header .icon-foodreform {
    float: left;
    font-size: 54px; }
    @media (max-width: 768px) {
      header .icon-foodreform:before {
        content: "\e90c"; } }
    @media (max-width: 1199px) {
      header .icon-foodreform {
        font-size: 45px;
        margin-top: 5px; } }
    @media (max-width: 768px) {
      header .icon-foodreform {
        margin-top: 0;
        font-size: 39px; } }
  header .popup-btn {
    float: right;
    border: 3px solid #ff7a7a;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10em;
    text-transform: uppercase;
    padding: 0.95em 0.6em 0.8em;
    letter-spacing: 0.06em;
    cursor: pointer;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    margin-left: 35px; }
    @media (max-width: 1199px) {
      header .popup-btn {
        margin-left: 20px; } }
    @media (max-width: 991px) {
      header .popup-btn {
        margin-left: 33px; } }
    @media (max-width: 768px) {
      header .popup-btn {
        font-size: 12px;
        margin-left: 10px; } }
    header .popup-btn:hover {
      background: #ff7a7a;
      color: #fff; }
    header .popup-btn:active {
      background: #ff7a7a;
      border-color: #c15c5c;
      -webkit-transition: .15s;
      -moz-transition: .15s;
      -ms-transition: .15s;
      -o-transition: .15s;
      transition: .15s;
      -webkit-box-shadow: inset 0 0 015px #c15c5c;
      -moz-box-shadow: inset 0 0 015px #c15c5c;
      box-shadow: inset 0 0 015px #c15c5c; }
  header .time {
    height: 50px;
    display: flex;
    align-items: center;
    float: right;
    font-size: 19px;
    font-weight: 600;
    margin-left: 40px; }
    @media (max-width: 991px) {
      header .time {
        display: none; } }
    @media (max-width: 768px) {
      header .time {
        display: flex;
        height: 39px;
        font-size: 16px;
        margin-left: 0; } }
    @media (max-width: 560px) {
      header .time {
        display: none; } }
    header .time .icon-clock {
      font-size: 35px;
      margin-right: 12px; }
      @media (max-width: 768px) {
        header .time .icon-clock {
          font-size: 30px; } }
  header .header-tell {
    float: right;
    height: 50px;
    display: flex;
    align-items: center;
    color: #ff7a7a;
    font-weight: bold;
    font-size: 30px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    padding-top: 3px; }
    @media (max-width: 1199px) {
      header .header-tell {
        font-size: 26px;
        padding-top: 0; } }
    @media (max-width: 768px) {
      header .header-tell {
        height: 39px;
        font-size: 20px;
        float: left;
        margin-left: 20px; } }
    @media (max-width: 425px) {
      header .header-tell {
        margin-left: 10px; } }
    @media (max-width: 400px) {
      header .header-tell {
        display: none; } }
    header .header-tell:hover {
      color: #323336; }

footer {
  height: 100px;
  text-align: center; }
  @media (max-width: 1199px) {
    footer {
      height: 88px; } }
  @media (max-width: 768px) {
    footer {
      height: 50px; } }
  footer .icon-foodreform {
    font-size: 54px;
    margin-top: 25px;
    display: inline-block; }
    @media (max-width: 1199px) {
      footer .icon-foodreform {
        margin-top: 18px; } }
    @media (max-width: 768px) {
      footer .icon-foodreform {
        font-size: 40px;
        margin-top: 6px; } }

.head {
  background: url("../img/head-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 60px 0 122px;
  text-align: center; }
  @media (max-width: 991px) {
    .head {
      background: url("../img/head-bg-mobile.jpg") no-repeat center;
      background-size: cover; } }
  @media (max-width: 550px) {
    .head {
      padding: 40px 0 100px;
      background: url("../img/head-bg-mobile2.jpg") no-repeat center;
      background-size: cover; } }
  .head .head-logo {
    text-align: center;
    font-size: 50px;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 16px; }
    .head .head-logo .long-logo {
      display: inline-block;
      animation: long-logo 30s infinite;
      animation-delay: 5s; }
      @media (max-width: 768px) {
        .head .head-logo .long-logo {
          animation: none; } }

@keyframes long-logo {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }
  5% {
    opacity: 0;
    -webkit-transform: rotate(700deg) scale(0);
    -moz-transform: rotate(700deg) scale(0);
    -ms-transform: rotate(700deg) scale(0);
    -o-transform: rotate(700deg) scale(0);
    transform: rotate(700deg) scale(0); }
  40% {
    opacity: 0;
    -webkit-transform: rotate(700deg) scale(0);
    -moz-transform: rotate(700deg) scale(0);
    -ms-transform: rotate(700deg) scale(0);
    -o-transform: rotate(700deg) scale(0);
    transform: rotate(700deg) scale(0); }
  45% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); } }
    .head .head-logo .icon-logo-round {
      font-size: 130px;
      position: absolute;
      left: calc(50% - 65px);
      top: 0;
      opacity: 0;
      animation: logo-move2 30s infinite;
      animation-delay: 6s; }
      @media (max-width: 768px) {
        .head .head-logo .icon-logo-round {
          animation: none;
          opacity: 1; } }

@keyframes logo-move2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
    -moz-transform: scale(0) rotate(0deg);
    -ms-transform: scale(0) rotate(0deg);
    -o-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg); }
  5% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-720deg);
    -moz-transform: scale(1) rotate(-720deg);
    -ms-transform: scale(1) rotate(-720deg);
    -o-transform: scale(1) rotate(-720deg);
    transform: scale(1) rotate(-720deg); }
  75% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-720deg);
    -moz-transform: scale(1) rotate(-720deg);
    -ms-transform: scale(1) rotate(-720deg);
    -o-transform: scale(1) rotate(-720deg);
    transform: scale(1) rotate(-720deg); }
  80% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
    -moz-transform: scale(0) rotate(0deg);
    -ms-transform: scale(0) rotate(0deg);
    -o-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
    -moz-transform: scale(0) rotate(0deg);
    -ms-transform: scale(0) rotate(0deg);
    -o-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg); } }
    .head .head-logo span {
      opacity: 0;
      display: inline-block;
      float: left;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      animation: logo-move 30s infinite; }
      @media (max-width: 768px) {
        .head .head-logo span {
          animation: none; } }

@keyframes logo-move {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  3% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  25% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  30% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
      .head .head-logo span + span {
        margin-left: 10px; }
      .head .head-logo span:nth-child(2) {
        animation-delay: 0s; }
      .head .head-logo span:nth-child(2) {
        animation-delay: 1s; }
      .head .head-logo span:nth-child(3) {
        animation-delay: 2s; }
      .head .head-logo span:nth-child(4) {
        animation-delay: 3s; }
      .head .head-logo span:nth-child(5) {
        animation-delay: 4s; }
  .head .head-title {
    display: block;
    margin: 0 auto;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.5em;
    width: 500px; }
    @media (max-width: 550px) {
      .head .head-title {
        font-size: 38px;
        width: 400px; } }
    @media (max-width: 425px) {
      .head .head-title {
        width: 350px; } }
    @media (max-width: 370px) {
      .head .head-title {
        width: 300px; } }
    .head .head-title > span {
      display: inline-block;
      width: 100%;
      text-align: left; }
      .head .head-title > span > span {
        font-weight: 600; }
      .head .head-title > span:nth-child(2) {
        text-align: right; }
  .head .btn-wrap {
    margin-top: 111px; }
    @media (max-width: 991px) {
      .head .btn-wrap {
        margin-top: 80px; } }
    @media (max-width: 768px) {
      .head .btn-wrap {
        margin-top: 50px; } }
    @media (max-width: 500px) {
      .head .btn-wrap {
        margin-top: 25px; } }

.work .container {
  padding-bottom: 40px; }

.work .one-work {
  padding-top: 5px; }

.work .one-work-title {
  font-weight: bold;
  line-height: 1.25em;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 2.5em;
  overflow: hidden;
  margin-bottom: 1.1em; }

.work .one-work-icon {
  text-align: center;
  color: #ff7a7a;
  display: inline-block;
  width: 100%;
  font-size: 100px;
  margin-bottom: .15em; }

.work p {
  text-align: center;
  line-height: 2.2em;
  height: 6.6em;
  overflow: hidden; }
  @media (max-width: 1199px) {
    .work p {
      line-height: 1.5em; } }

.work .work-bg {
  display: inline-block;
  width: 100%;
  height: 290px;
  background: url("../img/work-img.jpg") no-repeat fixed center;
  background-size: cover; }

.menu-block {
  padding: 0 0 50px; }
  .menu-block .all-tabs {
    position: relative;
    padding-bottom: 20px; }
    @media (max-width: 768px) {
      .menu-block .all-tabs {
        padding: 0 0 20px; } }
  .menu-block .one-tab {
    display: inline-block;
    float: left;
    width: 25%;
    padding: 0 15px;
    position: relative; }
    @media (max-width: 991px) {
      .menu-block .one-tab {
        padding: 0 5px; } }
    @media (max-width: 768px) {
      .menu-block .one-tab {
        padding: 0; } }
    .menu-block .one-tab:hover .one-tab-content {
      box-shadow: 0 8px 3px -2px #f0f0f0; }
    .menu-block .one-tab:hover .one-tab-title {
      color: #ff7a7a; }
      .menu-block .one-tab:hover .one-tab-title .tab-name:before {
        color: #ff7a7a; }
    .menu-block .one-tab .one-tab-title .tab-name {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      position: relative;
      cursor: pointer;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      padding-bottom: 10px;
      text-transform: uppercase; }
      @media (max-width: 991px) {
        .menu-block .one-tab .one-tab-title .tab-name {
          font-size: 22px; } }
      .menu-block .one-tab .one-tab-title .tab-name:before {
        color: transparent;
        text-transform: none;
        content: "(примерное меню)";
        position: absolute;
        top: 23px;
        left: 0;
        width: 100%;
        font-size: 15px;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
        @media (max-width: 991px) {
          .menu-block .one-tab .one-tab-title .tab-name:before {
            font-size: 13px; } }
        @media (max-width: 768px) {
          .menu-block .one-tab .one-tab-title .tab-name:before {
            color: #ff7a7a; } }
    .menu-block .one-tab .one-tab-content {
      display: inline-block;
      width: 100%;
      background: #fff2f2;
      position: relative;
      padding: 150px 0 20px;
      margin-top: 150px;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      cursor: pointer; }
      .menu-block .one-tab .one-tab-content.two {
        background: #f5ffe5; }
      .menu-block .one-tab .one-tab-content.three {
        background: #f2f9ff; }
      .menu-block .one-tab .one-tab-content.four {
        background: #fff6f2; }
      @media (max-width: 1199px) {
        .menu-block .one-tab .one-tab-content {
          margin-top: 115px;
          padding-top: 120px; } }
      @media (max-width: 991px) {
        .menu-block .one-tab .one-tab-content {
          margin-top: 100px;
          padding-top: 100px;
          padding-bottom: 10px; } }
      @media (max-width: 768px) {
        .menu-block .one-tab .one-tab-content {
          margin-top: 10px;
          padding-top: 10px;
          padding-bottom: 50px; } }
      @media (max-width: 500px) {
        .menu-block .one-tab .one-tab-content {
          text-align: center; } }
      .menu-block .one-tab .one-tab-content img {
        position: absolute;
        left: 0;
        right: 0;
        top: -130px; }
        @media (max-width: 1199px) {
          .menu-block .one-tab .one-tab-content img {
            top: -100px; } }
        @media (max-width: 991px) {
          .menu-block .one-tab .one-tab-content img {
            top: -85px; } }
        @media (max-width: 768px) {
          .menu-block .one-tab .one-tab-content img {
            display: none; } }
      .menu-block .one-tab .one-tab-content ul {
        height: 110px;
        overflow: hidden; }
        @media (max-width: 991px) {
          .menu-block .one-tab .one-tab-content ul {
            height: 90px; } }
        @media (max-width: 768px) {
          .menu-block .one-tab .one-tab-content ul {
            padding: 0 20px; } }
        @media (max-width: 500px) {
          .menu-block .one-tab .one-tab-content ul {
            display: inline-block;
            width: 250px; } }
        .menu-block .one-tab .one-tab-content ul li {
          position: relative;
          font-size: 16px;
          line-height: 1.5;
          padding: 0 15px 0 25px; }
          @media (max-width: 1199px) {
            .menu-block .one-tab .one-tab-content ul li {
              font-size: 13px; } }
          @media (max-width: 991px) {
            .menu-block .one-tab .one-tab-content ul li {
              padding: 0 5px 0 15px;
              line-height: 1.3; } }
          @media (max-width: 768px) {
            .menu-block .one-tab .one-tab-content ul li {
              text-align: center;
              padding: 0; } }
          @media (max-width: 500px) {
            .menu-block .one-tab .one-tab-content ul li {
              text-align: center; } }
          .menu-block .one-tab .one-tab-content ul li:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 13px;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background: #ff7a7a; }
            @media (max-width: 1199px) {
              .menu-block .one-tab .one-tab-content ul li:before {
                top: 7px; } }
            @media (max-width: 991px) {
              .menu-block .one-tab .one-tab-content ul li:before {
                top: 8px;
                left: 6px;
                height: 4px;
                width: 4px; } }
            @media (max-width: 768px) {
              .menu-block .one-tab .one-tab-content ul li:before {
                display: none; } }
          .menu-block .one-tab .one-tab-content ul li + li {
            margin-top: 6px; }
      .menu-block .one-tab .one-tab-content .btn-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: none; }
        .menu-block .one-tab .one-tab-content .btn-wrap .btn {
          margin: 0 0 10px;
          padding: 10px 15px;
          width: auto;
          font-size: 14px; }
        @media (max-width: 768px) {
          .menu-block .one-tab .one-tab-content .btn-wrap {
            display: inline-block; } }
  .menu-block .menu-result .all-result {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .menu-block .menu-result .all-result.die {
      display: none; }
    .menu-block .menu-result .all-result.close {
      opacity: 0;
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      transform: translateY(40px); }
  .menu-block .menu-result .result-btn {
    font-size: 16px;
    display: inline-block;
    border: 2px solid #ff7a7a;
    padding: 8px 15px;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; }
    @media (max-width: 768px) {
      .menu-block .menu-result .result-btn {
        font-size: 14px;
        padding: 7px 13px; } }
    .menu-block .menu-result .result-btn:hover {
      background: #ff7a7a;
      color: #fff; }
    .menu-block .menu-result .result-btn:active {
      -webkit-transition: .15s;
      -moz-transition: .15s;
      -ms-transition: .15s;
      -o-transition: .15s;
      transition: .15s;
      border-color: #c15c5c;
      -webkit-box-shadow: inset 0 0 15px #c15c5c;
      -moz-box-shadow: inset 0 0 015px #c15c5c;
      box-shadow: inset 0 0 15px #c15c5c; }
  .menu-block .menu-result .menu-wrap-result {
    text-align: center; }
    .menu-block .menu-result .menu-wrap-result .one-menu-result {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      .menu-block .menu-result .menu-wrap-result .one-menu-result.die {
        display: none; }
      .menu-block .menu-result .menu-wrap-result .one-menu-result.close {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px); }
      .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu {
        display: inline-block;
        width: 33.333%;
        float: left;
        padding: 35px 45px 15px;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
        @media (max-width: 991px) {
          .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu {
            padding: 20px 5px 15px; } }
        @media (max-width: 768px) {
          .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu {
            width: 50%; } }
        @media (max-width: 500px) {
          .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu {
            width: 100%; } }
        .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu .one-menu-title {
          display: inline-block;
          width: 100%;
          text-align: center;
          font-size: 24px;
          line-height: 1.2;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 15px;
          -webkit-transition: .4s;
          -moz-transition: .4s;
          -ms-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          cursor: default;
          height: 1.2em;
          overflow: hidden; }
          .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu .one-menu-title:hover {
            color: #ff7a7a; }
        .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu .text {
          display: inline-block;
          width: 100%;
          text-transform: uppercase;
          font-size: 18px;
          line-height: 1.2;
          font-weight: 600;
          height: 2.6em;
          overflow: hidden; }
          @media (max-width: 991px) {
            .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu .text {
              font-size: 16px; } }
        .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu img {
          width: 100%;
          margin-bottom: 10px; }
          @media (max-width: 991px) {
            .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu img {
              padding: 0 20px; } }
          @media (max-width: 768px) {
            .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu img {
              padding: 0 20%; } }
        .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu:nth-child(4), .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu:nth-child(5) {
          float: none; }
        @media (max-width: 768px) {
          .menu-block .menu-result .menu-wrap-result .one-menu-result .one-menu:nth-child(4) {
            float: left; } }

.discount {
  background: #fcdad6;
  text-align: center;
  padding: 60px 0 60px; }
  .discount .icon-wave {
    margin-top: 30px;
    margin-bottom: 20px; }
  .discount .discount-title {
    font-weight: 600;
    font-size: 30px;
    padding: 0 15px;
    display: inline-block; }
    @media (max-width: 768px) {
      .discount .discount-title {
        font-size: 28px; } }
    .discount .discount-title > span {
      font-weight: bold; }
  .discount input {
    width: 360px; }
  .discount form {
    padding: 0 15px;
    background: transparent; }
    @media (max-width: 450px) {
      .discount form input {
        width: 100%; } }
    .discount form .btn {
      margin-left: 25px; }
      @media (max-width: 650px) {
        .discount form .btn {
          margin-left: 0; } }

.prise-block .prise-content {
  padding: 60px 0 60px;
  display: inline-block;
  width: 100%;
  background: url("../img/prise-bg.jpg") no-repeat fixed center, #f1f2f4;
  background-size: 100%; }
  @media (max-width: 768px) {
    .prise-block .prise-content {
      background: #f1f2f4; } }

.prise-block p {
  display: inline-block;
  width: 50%;
  float: right; }
  @media (max-width: 768px) {
    .prise-block p {
      width: 100%;
      text-align: center; } }

.advantages-block .one-advantage {
  float: left;
  width: 25%;
  text-align: center; }
  @media (max-width: 991px) {
    .advantages-block .one-advantage {
      width: 50%; } }
  @media (max-width: 768px) {
    .advantages-block .one-advantage {
      width: 100%; } }
  .advantages-block .one-advantage .advantage-number {
    font-size: 100px;
    color: #ff7a7a;
    font-weight: 300;
    display: inline-block;
    width: 100%;
    line-height: 1.5; }
    @media (max-width: 768px) {
      .advantages-block .one-advantage .advantage-number {
        font-size: 80px;
        line-height: 1;
        margin-top: 20px; } }
  .advantages-block .one-advantage .advantage-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 2; }
  .advantages-block .one-advantage p {
    padding: 0 15px;
    line-height: 2; }
    @media (max-width: 1199px) {
      .advantages-block .one-advantage p {
        font-size: 16px;
        padding: 0 5px; } }

.reviews .reviews-wrap {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.reviews .one-reviews {
  display: inline-block;
  width: 100%;
  padding: 15px;
  border-bottom: 2px solid #fff;
  border-radius: 10px;
  height: 335px;
  box-shadow: 0 0 0 #f0f0f0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  margin-bottom: 10px;
  position: relative;
  margin-top: 45px;
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
  -moz-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  -o-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1); }
  @media (max-width: 1199px) {
    .reviews .one-reviews {
      height: 400px; } }
  @media (max-width: 991px) {
    .reviews .one-reviews {
      height: 260px; } }
  @media (max-width: 768px) {
    .reviews .one-reviews {
      height: auto; } }
  .reviews .one-reviews:hover {
    box-shadow: 0 8px 3px -2px #f0f0f0; }
  .reviews .one-reviews.die {
    display: none; }
  .reviews .one-reviews.close {
    opacity: 0;
    -webkit-transform: translateY(40px) scale(0.95);
    -moz-transform: translateY(40px) scale(0.95);
    -ms-transform: translateY(40px) scale(0.95);
    -o-transform: translateY(40px) scale(0.95);
    transform: translateY(40px) scale(0.95); }
  .reviews .one-reviews .img {
    position: absolute;
    height: 95px;
    width: 95px;
    left: 0;
    top: -43px;
    border: 4px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    background: #fff; }
    .reviews .one-reviews .img img {
      opacity: 0.8;
      border-radius: 50%; }
  .reviews .one-reviews .name {
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 110px;
    right: 10px;
    overflow: hidden; }
  .reviews .one-reviews .text {
    margin-top: 40px;
    height: 265px;
    overflow: hidden; }
    @media (max-width: 1199px) {
      .reviews .one-reviews .text {
        height: 335px; } }
    @media (max-width: 991px) {
      .reviews .one-reviews .text {
        height: 190px; } }
    @media (max-width: 768px) {
      .reviews .one-reviews .text {
        height: auto; } }
  .reviews .one-reviews p {
    font-size: 16px;
    line-height: 1.5; }
    .reviews .one-reviews p + p {
      margin-top: 20px; }
  .reviews .one-reviews.pink {
    background: #fff2f2; }
    .reviews .one-reviews.pink .img {
      border-color: #fff2f2; }
  .reviews .one-reviews.yellow {
    background: #f5ffe5; }
    .reviews .one-reviews.yellow .img {
      border-color: #f5ffe5; }
  .reviews .one-reviews.blue {
    background: #f2f9ff; }
    .reviews .one-reviews.blue .img {
      border-color: #f2f9ff; }
  .reviews .one-reviews.orange {
    background: #fff8f2; }
    .reviews .one-reviews.orange .img {
      border-color: #fff8f2; }

.reviews .btn-wrap {
  text-align: center;
  display: inline-block;
  width: 100%; }

.about .about-content-wrap {
  height: 80vh;
  background: url("../img/about-img.jpg") no-repeat fixed center;
  background-size: cover;
  min-height: 500px; }
  @media (max-width: 768px) {
    .about .about-content-wrap {
      height: auto;
      min-height: 0; } }
  .about .about-content-wrap .about-content {
    padding-top: 100px;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    text-align: center; }
    @media (max-width: 768px) {
      .about .about-content-wrap .about-content {
        padding-bottom: 80px;
        padding-top: 60px;
        margin-bottom: -4px; } }
  .about .about-content-wrap .icon-foodreform {
    font-size: 54px;
    margin-top: 25px;
    display: inline-block; }
  .about .about-content-wrap .text {
    width: 550px;
    margin: 60px auto 0;
    font-weight: bold;
    line-height: 2; }
    @media (max-width: 600px) {
      .about .about-content-wrap .text {
        width: 100%;
        line-height: 1; } }
    .about .about-content-wrap .text > * {
      font-weight: bold;
      line-height: 2; }
      @media (max-width: 600px) {
        .about .about-content-wrap .text > * {
          line-height: 1.5;
          font-size: 16px;
          padding: 0 10px; } }
      .about .about-content-wrap .text > * + * {
        margin-top: 1.5em; }

.contacts .contact-content {
  background: #fcdad6;
  padding: 75px 0 60px; }

.contacts .cont {
  display: inline-block;
  width: 100%;
  margin-top: 100px; }
  @media (max-width: 991px) {
    .contacts .cont {
      margin-top: 0;
      margin-bottom: 30px; } }
  .contacts .cont li {
    display: inline-block;
    width: 100%; }
    .contacts .cont li + li {
      margin-top: 30px; }
      @media (max-width: 991px) {
        .contacts .cont li + li {
          margin-top: 15px; } }
    .contacts .cont li > *:nth-child(2) {
      display: inline-block;
      float: left;
      font-size: 18px;
      color: #323336;
      margin-top: 27px;
      font-weight: 600; }
      @media (max-width: 1199px) {
        .contacts .cont li > *:nth-child(2) {
          margin-top: 15px; } }
      @media (max-width: 991px) {
        .contacts .cont li > *:nth-child(2) {
          width: 100%;
          text-align: center;
          margin-top: 0; } }
    .contacts .cont li a {
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      .contacts .cont li a:hover {
        color: #fff; }
  .contacts .cont .icon {
    color: #ff7a7a;
    line-height: 1;
    font-size: 70px;
    float: left;
    width: 70px;
    text-align: center;
    margin-right: 20px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    @media (max-width: 1199px) {
      .contacts .cont .icon {
        font-size: 50px;
        width: 50px;
        margin-right: 10px; } }
    @media (max-width: 991px) {
      .contacts .cont .icon {
        width: 100%;
        font-size: 30px;
        margin-right: 0; } }
    .contacts .cont .icon:hover {
      color: #fff; }

@media (max-width: 991px) {
  .contacts form {
    width: 500px;
    margin: 0 auto;
    display: block; } }

@media (max-width: 550px) {
  .contacts form {
    padding: 25px 15px;
    width: 100%; } }

form {
  display: inline-block;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  padding: 65px 60px; }
  form .form-title {
    display: inline-block;
    width: 100%;
    line-height: 1;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center; }
  form input, form textarea {
    margin: 30px 0 0;
    display: inline-block;
    border-radius: 25px;
    border: 3px solid #fcdad6;
    width: 100%; }
  form .btn {
    margin: 30px 0 0 0; }

.popup-call {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(252, 218, 214, 0.3);
  text-align: center;
  opacity: 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .popup-call.life {
    display: inline-block; }
  .popup-call.see {
    opacity: 1; }
    .popup-call.see form {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .popup-call form {
    width: 500px;
    position: relative;
    box-shadow: 0 0 15px -3px #323336;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
    @media (max-width: 550px) {
      .popup-call form {
        width: 95%;
        padding: 30px 15px 15px; } }
    @media (max-width: 550px) {
      .popup-call form .form-title {
        font-size: 20px; } }
    .popup-call form .close {
      position: absolute;
      right: 10px;
      top: 8px; }
      .popup-call form .close span {
        display: inline-block;
        width: 35px;
        height: 35px;
        position: relative;
        cursor: pointer; }
        .popup-call form .close span:before, .popup-call form .close span:after {
          content: "";
          position: absolute;
          height: 3px;
          width: 100%;
          background: #ff7a7a;
          top: 17px;
          left: 0; }
        .popup-call form .close span:before {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .popup-call form .close span:after {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }

.popup-comm {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(252, 218, 214, 0.3);
  text-align: center;
  opacity: 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  overflow: scroll; }
  .popup-comm.life {
    display: inline-block; }
  .popup-comm.see {
    opacity: 1; }
    .popup-comm.see form {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .popup-comm form {
    width: 500px;
    position: relative;
    box-shadow: 0 0 15px -3px #323336;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
    @media (max-width: 550px) {
      .popup-comm form input, .popup-comm form textarea {
        margin-top: 20px; } }
    @media (max-width: 550px) {
      .popup-comm form {
        width: 95%;
        padding: 30px 15px 15px; } }
    @media (max-width: 550px) {
      .popup-comm form .form-title {
        font-size: 20px; } }
    .popup-comm form .close {
      position: absolute;
      right: 10px;
      top: 8px; }
      .popup-comm form .close span {
        display: inline-block;
        width: 35px;
        height: 35px;
        position: relative;
        cursor: pointer; }
        .popup-comm form .close span:before, .popup-comm form .close span:after {
          content: "";
          position: absolute;
          height: 3px;
          width: 100%;
          background: #ff7a7a;
          top: 17px;
          left: 0; }
        .popup-comm form .close span:before {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .popup-comm form .close span:after {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
