@font-face {
  font-family: 'foodreform';
  src:  url('fonts/foodreform.eot?ek9e62');
  src:  url('fonts/foodreform.eot?ek9e62#iefix') format('embedded-opentype'),
    url('fonts/foodreform.ttf?ek9e62') format('truetype'),
    url('fonts/foodreform.woff?ek9e62') format('woff'),
    url('fonts/foodreform.svg?ek9e62#foodreform') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'foodreform' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-4:before {
  content: "\e903";
}
.icon-5:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-foodreform:before {
  content: "\e908";
}
.icon-formula:before {
  content: "\e909";
}
.icon-info:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-logo-round:before {
  content: "\e90c";
}
.icon-map:before {
  content: "\e90d";
}
.icon-odnoklassniki:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-pot:before {
  content: "\e910";
}
.icon-profits:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-vk:before {
  content: "\e913";
}
.icon-wave:before {
  content: "\e914";
}
